@charset "UTF-8";

.header-img {
	width: 100%;
	height: 250px;
	background-image:
		url(/src/main/webapp/resources/img/member/3e35dcbb689fea33c2ed122a2b05c07f.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.header-img>div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	height: 100%;
}

.header-img>div>p {
	color: #fff;
	margin: 0;
	text-align: center;
}

.header-img>div>p:first-child {
	color: #fff;
	font-size: 40px;
	margin-bottom: 15px;
}

.login-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-box {
	border: 1px solid lightgray;
	width: 800px;
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}

.login-box>p {
	margin: 0;
	font-size: 30px;
	margin-bottom: 30px;
	color: gray;
}

.login-box>p:last-child {
	font-size: 15px;
	margin: 25px;
}

.login-box>p>a {
	color: gray;
	font-weight: bold;
	text-decoration: none;
}

.login-box>form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-box>form>table {
	font-size: 20px;
}

.login-input {
	line-height: 25px;
	font-size: 15px;
}

.login-btn {
	border: none;
	width: 80px;
	height: 70px;
}