@charset "UTF-8";

.searchbar {
	width: 100%;
	margin-bottom: 50px;
}

.searchbar>form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.searchbar>form>input {
	border: 1px solid lightgray;
	border-right: none;
	width: 200px;
	height: 50px;
	padding: 0;
	padding-left: 25px;
	margin: 0;
}

.searchbar>form>input:first-child {
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.searchbar>form>button {
	border: 1px solid lightgray;
	background-color: #eba13d;
	width: 130px;
	height: 52px;
	border: none;
	font-size: 18px;
	color: #fff;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

.searchbar>button:hover {
	background-color: #fff;
	color: #eba13d;
	border: 1px solid #eba13d;
}

.camp-content {
	display: flex;
	justify-items: center;
	flex-direction: column;
	align-items: center;
}

.page-title {
	width: 1200px;
	font-size: 30px;
	margin: 30px;
	margin-top: 60px;
	font-weight: bold;
	color: #405944;
}

.camp-naeyong {
	width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.camp-item {
	padding-bottom: 25px;
}

.camp-item-img {
	width: 260px;
	height: 260px;
	overflow: hidden;
	border: 1px solid #ccc;
	border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.camp-item-img img{
	width: auto;
	height: 100%;
	transition-duration: 0.3s;
}

.camp-item-img>img:hover {
	height: 103%;
}

.camp-item>a {
	text-decoration: none;
	color: #232323;
}

.camp-item>a>ul {
	padding: 0;
	margin-top: 6px;
}

.camp-item>a>ul>li {
	list-style: none;
	font-size: 18px;
	margin: 3px;
}

.camp-item>a>ul>li:last-child {
	display: flex;
	justify-content: space-between;
}

.camp-item>a>ul>li:last-child>p:first-child {
	margin: 0;
	display: inline-block;
	padding-right: 10px;
	font-size: 18px;
}

.camp-item>a>ul>li:last-child>p:last-child {
	display: inline-block;
	margin: 0;
	padding-right: 10px;
	color: #405944;
	font-weight: bold;
	text-align: right;
	font-size: 22px;
}

.paging {
	margin: 15px;
	margin-bottom: 150px;
}