<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<!-- Admin -->
		<typeAlias type="com.campkok.admin.model.vo.Notice" alias="notice" />
		<typeAlias type="com.campkok.admin.model.vo.CeoNotice" alias="ceoNotice" />
		<typeAlias type="com.campkok.admin.model.vo.ClientNotice" alias="clientNotice" />

		<!-- Camp -->
		<typeAlias type="com.campkok.camp.model.vo.CampVO" alias="c" />
		<typeAlias type="com.campkok.camp.notice.model.vo.CampNoticeVO" alias="cn" />
		<typeAlias type="com.campkok.customer.model.vo.UserVO" alias="u" />

		<!-- Customer -->
		<typeAlias type="com.campkok.customer.model.vo.UserVO" alias="u"/>
		<typeAlias type="com.campkok.customer.model.vo.ReservationVO" alias="r"/>
	</typeAliases>
</configuration>
