@charset "UTF-8";

h1 {
	margin-left: 20px;
}

hr {
	margin-left: 20px;
}

.wrap {
	margin-left: 40px;
	width: 1200px;
}

.content-wrap>div {
	margin-top: 10px;
	float: left;
}

.content-navi {
	width: 170px;
	box-sizing: border-box;
}

.content-main {
	width: 1030px;
}

.table-wrap {
	margin: 10px 0 0 20px;
}

.table>tbody>tr>th, .table>tbody>tr>td {
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.btn-warning {
	outline: none;
}

#pageNavi {
	text-align: center;
}