@charset "UTF-8";

img {
	width: 100%;
	height: 100%;
}

.search-wrap {
	margin-left: 20px;
}

#select-userCategory {
	width: 10%;
	height: 30px;
	display: inline-block;
}

.search-wrap>input {
	width: 200px;
	height: 30px;
	display: inline-block;
}

.btnSearch {
	width: 35px;
	height: 30px;
}

.btnWriteNotice {
	border: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	outline: none;
	margin-right: 20px;
	width: 75px;
	height: 35px;
	color: #fff;
	background-color: #f3d479;
	float: right;
}